<div class="rounded-xl border border-gray-200 bg-white p-5">

  <h3 class="mb-5 text-lg font-semibold">
    Nouvelle Facture
  </h3>

  <!-- Client -->

  <div class="mb-5">

    <label class="mb-2 block">
      Client
    </label>

    <app-select
      [options]="customerOptions()"
      placeholder="Sélectionner un client"
      [value]="selectedCustomerId()"
      (valueChange)="handleCustomerChange($event)">
    </app-select>

  </div>

  <!-- Produit -->

  <div class="grid grid-cols-3 gap-3">

    <app-select
      [options]="productOptions()"
      placeholder="Sélectionner un produit"
      [value]="selectedProductId()"
      (valueChange)="handleProductChange($event)">
    </app-select>
    

        <input
      type="number"
      min="1"
      class="rounded-lg border p-3"
      [value]="price()"
      (input)="price.set(+$any($event.target).value)"
    />

    <input
      type="number"
      min="1"
      class="rounded-lg border p-3"
      [value]="quantity()"
      (input)="quantity.set(+$any($event.target).value)"
    />

    <button
      type="button"
      class="rounded-lg bg-blue-600 px-4 py-2 text-white"
      (click)="addItem()">
      Ajouter
    </button>

  </div>

  <!-- Tableau -->

  <table class="mt-5 w-full">

    <thead>
      <tr>
        <th class="text-left">Produit</th>
        <th class="text-left">Prix Unitaire</th>
        <th class="text-left">Quantité</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      @for(item of invoice().items; track $index){

        <tr>

          <td>
            {{ products().find(p => p.id === item.productId)?.name }}
          </td>
           <td>
            {{ item.price}}
          </td>
          <td>
            {{ item.quantity }}
          </td>

          <td>

            <button
              type="button"
              class="text-red-500"
              (click)="removeItem($index)">
              Supprimer
            </button>

          </td>

        </tr>

      }

    </tbody>

  </table>

  <button
    type="button"
    class="mt-5 rounded-lg bg-green-600 px-5 py-3 text-white"
    (click)="createInvoice()">

    Créer la facture

  </button>

</div>